$mainGray: #eaeaea;
$edGray: #ededed;
$c5Gray: #c5c5c5;
$dark: #535353;
$vividRed: #e02b34;
$green: #50e538;
$blue: #2553b1;
$red: #ff4444;
$lime: #8dd40e;

$ored: #f54141;
$ogreen: #41d67f;
$oblue: #18a3df;
$oyellow: #eab52f;

$cthroRed: rgba(255, 153, 153, 0.47);
$cthroGreen: rgba(155, 255, 153, 0.5);
$cthroBlue: rgba(153, 224, 255, 0.42);
$cthroYellow: rgba(255, 239, 153, 0.42);
