.btn {
  cursor: pointer;
  width: 150px;
  height: 42px;
  border: none;
  border-radius: 9px;
  font-size: 24px;
  color: white;
  background-color: #e34149;
  -webkit-transition: -webkit-transform 197ms ease;
  transition: -webkit-transform 197ms ease;
  transition: transform 197ms ease;
  transition: transform 197ms ease, -webkit-transform 197ms ease;
}

.btn:hover {
  background-color: #e02b34;
}

.btn:active {
  outline: none;
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.btn:focus {
  outline: none;
}

.btn.medium {
  width: 120px;
  height: 36px;
  font-size: 18px;
  margin: 20px;
}

.btn.lime {
  background-color: #8dd40e;
}

.icon-btn {
  padding: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 7px;
  -webkit-transition: all 420ms ease-in-out;
  transition: all 420ms ease-in-out;
}

.icon-btn svg {
  -webkit-transition: all 420ms ease-in-out;
  transition: all 420ms ease-in-out;
}

.icon-btn.red:hover {
  background-color: #e02b34;
  cursor: pointer;
}

.icon-btn.reverse svg {
  fill: #535353;
}

.icon-btn.reverse:hover {
  background-color: #e02b34;
  cursor: pointer;
}

.icon-btn.reverse:hover svg {
  fill: white;
}

.icon-btn.blue svg {
  fill: #535353;
}

.icon-btn.blue:hover {
  background-color: #2553b1;
  cursor: pointer;
}

.icon-btn.blue:hover svg {
  fill: white;
}

.icon-btn.green svg {
  fill: #535353;
}

.icon-btn.green:hover {
  background-color: #50e538;
  cursor: pointer;
}

.icon-btn.green:hover svg {
  fill: white;
}

.icon-btn:active {
  outline: none;
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.icon-btn:focus {
  outline: none;
}

input.form-input {
  width: 300px;
  height: 36px;
  border-radius: 12px;
  padding: 3px 20px;
  border: 1px solid #969696;
}

input.form-input.medium {
  width: 180px;
  height: 27px;
  border-radius: 7px;
}

input.form-input:focus {
  outline: none;
  border-color: #919191;
}

div.circle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin: 1pt;
}

div.circle.red {
  background-color: #ff4444;
  color: #ff4444;
}

div.circle.green {
  background-color: #50e538;
  color: #50e538;
}

hr.sep {
  width: 72%;
  border-top: 1px solid #535353;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

nav.navbar {
  background: #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 100vw;
}

nav.navbar svg {
  margin: 0px 50px;
}

footer {
  background: #eaeaea;
  height: 70px;
  width: 100%;
}

div.user-menu {
  background-color: #535353;
  width: 333px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.user-menu h4,
div.user-menu h5 {
  color: white;
  font-weight: 400;
}

div.user-menu .user-menu-btn {
  width: 80%;
  padding: 27px 30px;
  margin: 19px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.user-menu .user-menu-btn svg {
  fill: white;
}

.tabs-container .tab {
  display: none;
}

.tabs-container .tab.active {
  display: unset;
}

div.main-container {
  width: 100vw;
  height: 81vh;
  background: linear-gradient(358.92deg, #ffffff -5.54%, #e81818 36.28%, #9b1818 90.83%), #e81818;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.users-management {
  background: white;
  padding: 5px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.users-management form.add_user {
  width: 300px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.users-management form.add_user input {
  margin: 5px;
}

div.users-management form.add_user input:first-child {
  margin-top: 30px;
}

div.users-management div.users-list {
  background: #f3f2f2;
  width: 300px;
  height: auto;
  max-height: 27vh;
  padding: 7px 10px;
  padding-top: 0;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

div.users-management div.users-list h3 {
  position: fixed;
  z-index: 13;
  background: #f3f2f2;
  width: 289px;
  border-top-left-radius: 12px;
  height: 24px;
}

div.users-management div.users-list span.users-note {
  margin-top: 27px;
}

div.users-management div.users-list div.user-card {
  background: white;
  position: relative;
  width: 270px;
  min-height: 40px;
  max-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 9px;
  margin: 9px;
  padding: 5px;
  -webkit-transition: all 270ms ease-out;
  transition: all 270ms ease-out;
}

div.users-management div.users-list div.user-card:first-of-type {
  margin-top: 30px;
}

div.users-management div.users-list div.user-card:hover {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

div.users-management div.users-list div.user-card .icon-btn {
  position: absolute;
  bottom: 7px;
  right: 5px;
}

div.users-management div.users-list div.user-card span.username-output {
  width: 220px;
  padding: 3px 7px;
  border-radius: 12px;
  border: 1px solid #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.users-management div.users-list div.user-card span.username-output svg {
  border-right: 1px solid #eaeaea;
  margin-right: 10px;
  padding-right: 10px;
}

div.users-management div.users-list div.user-card span.id-output {
  color: #ccc;
  font-size: 12px;
  margin: 2px auto;
}

div.nodes-page .nodes-view {
  position: relative;
  height: 70vh;
  overflow-y: auto;
  width: 940px;
  background: white;
  padding: 20px 10px;
  border-radius: 15px;
}

div.nodes-page .nodes-view h4 {
  position: absolute;
  top: 50%;
  right: 42%;
  color: #535353;
}

div.nodes-page .nodes-view .node-card {
  position: relative;
  background: #ededed;
  width: 920px;
  height: 66px;
  margin: 5px;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f17070;
  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
}

div.nodes-page .nodes-view .node-card:hover {
  background: #f49595;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

div.nodes-page .nodes-view .node-card label.node-label {
  color: white;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 3px;
  padding: 3px 7px;
}

div.nodes-page .nodes-view .node-card label.node-label span,
div.nodes-page .nodes-view .node-card label.node-label input {
  font-size: 14px;
  color: white;
  background: #535353;
  margin: 2px;
  min-width: 120px;
  max-width: 220px;
  height: 16px;
  padding: 3px 7px;
  border-radius: 5px;
  border: none;
}

div.nodes-page .nodes-view .node-card label.node-label span.reverse,
div.nodes-page .nodes-view .node-card label.node-label input.reverse {
  color: black;
  background: white;
}

div.nodes-page .nodes-view .node-card .buttons {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 2px;
  top: 0;
}

div.nodes-page .nodes-view .node-card .buttons button {
  margin: 0px 2px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.interfaces-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.interfaces-page input.search-field {
  float: none;
  width: 360px;
  margin: 10px 0px 10px 70px;
}

.interfaces-page div.chart-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white;
  height: 70vh;
  padding: 20px 10px;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.interfaces-page div.chart-container h3 {
  text-align: center;
  margin: 12px;
}

.interfaces-page .interfaces-view {
  position: relative;
  height: 70vh;
  overflow-y: auto;
  width: 570px;
  background: #ededed;
  padding: 20px 10px;
  border-radius: 15px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.interfaces-page .interfaces-view > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.interfaces-page .interfaces-view > div select {
  margin: 5px;
  padding-left: 5px;
  border: 1px solid #c5c5c5;
  border-radius: 9px;
  height: 27px;
}

.interfaces-page .interfaces-view > div select option {
  color: #535353;
}

.interfaces-page .interfaces-view > div select:focus {
  outline: none;
  border: 2px solid #c5c5c5;
}

.interfaces-page .interfaces-view h4 {
  margin-top: 40%;
  text-align: center;
}

.interfaces-page .interfaces-view .interface-card {
  cursor: pointer;
  position: relative;
  background: white;
  width: 460px;
  height: 66px;
  margin: 10px auto;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 4px 9px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
          box-shadow: 0 4px 9px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
}

.interfaces-page .interfaces-view .interface-card:hover {
  background: #f9feff;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.interfaces-page .interfaces-view .interface-card div.names {
  background: #f17070;
  min-width: 200px;
  color: #535353;
  text-align: center;
}

.interfaces-page .interfaces-view .interface-card div.names h2 {
  color: white;
}

.interfaces-page .interfaces-view .interface-card div.names h3 > span {
  font-size: 15px;
}

.interfaces-page .interfaces-view .interface-card div {
  padding: 10px;
  min-width: 180px;
  text-align: center;
}

.interfaces-page .interfaces-view .interface-card div#IP {
  color: #535353;
}

.interfaces-page .interfaces-view .interface-card table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  min-width: 36%;
  height: 90%;
}

.interfaces-page .interfaces-view .interface-card table th,
.interfaces-page .interfaces-view .interface-card table td {
  margin: 10px;
  text-align: center;
  border: 1px solid #dddddd;
}

.interfaces-page .interfaces-view .interface-card svg {
  margin: 5px;
  height: 36px;
  width: 36px;
}

.f5-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.f5-page .f5-view {
  position: relative;
  height: 70vh;
  overflow-y: auto;
  width: 72vw;
  background: white;
  padding: 20px 10px;
  border-radius: 15px;
}

.f5-page .f5-view > h4 {
  position: absolute;
  top: 50%;
  right: 39%;
  color: #535353;
}

.f5-page .f5-view input.search-field {
  float: none;
  width: 360px;
  margin: 10px 0px 10px 70px;
}

.f5-page .f5-view div.cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.f5-page .f5-view div.cards-container .f5-card {
  background: #f17070;
  margin: 5px;
  padding: 10px;
  width: 360px;
  min-height: 180px;
  border-radius: 9px;
  font-size: 13px;
  -webkit-transition: all 120ms ease-in-out;
  transition: all 120ms ease-in-out;
}

.f5-page .f5-view div.cards-container .f5-card h4 {
  color: white;
  font-size: 16px;
  font-weight: 500;
}

.f5-page .f5-view div.cards-container .f5-card div.ips {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.f5-page .f5-view div.cards-container .f5-card div.ips span.ip {
  background: #535353;
  color: white;
  padding: 2px 5px;
  border-radius: 5px;
}

.f5-page .f5-view div.cards-container .f5-card div.serv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5px auto;
  padding: 5px;
  border-radius: 3px;
  background: #ededed;
  color: black;
}

.f5-page .f5-view div.cards-container .f5-card div.serv span.data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.f5-page .f5-view div.cards-container .f5-card div.members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  border-radius: 3px;
}

.f5-page .f5-view div.cards-container .f5-card div.members label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px auto;
  padding: 5px;
  color: #535353;
}

.f5-page .f5-view div.cards-container .f5-card div.members label > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.f5-page .f5-view div.cards-container .f5-card:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.settings-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.settings-page .data-management {
  width: 500px;
  height: 30vh;
  background: white;
  margin: 0px 10px 10px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.settings-page .data-management div.imports {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 420px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.settings-page .data-management div.imports div.excel-reader {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  width: 150px;
  height: 100px;
  background: white;
  padding: 5px;
  border: 2px solid #535353;
  border-radius: 5px;
}

.settings-page .data-management div.imports div.excel-reader input[type="file"] {
  display: none;
}

.settings-page .data-management div.imports div.excel-reader label {
  margin-top: 20px;
  background: #2553b1;
  color: white;
  width: 100px;
  text-align: center;
  padding: 1px 2px;
  border-radius: 5px;
  -webkit-transition: all 120ms ease-in;
  transition: all 120ms ease-in;
}

.settings-page .data-management div.imports div.excel-reader label:hover {
  background: #3d6fd6;
  cursor: pointer;
}

.settings-page .data-management div.imports div.excel-reader label:active {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.settings-page .data-management div.imports div.excel-reader span.file-name {
  margin-top: 18px;
  font-size: 12px;
}

.settings-page .data-management div.imports div.excel-reader div.buttons {
  margin: 7px auto;
}

.settings-page .data-management div.imports div.excel-reader div.buttons button {
  font-size: 14px;
  height: 20px;
  width: 50px;
  border-radius: 3px;
}

.settings-page .data-management div.imports div.excel-reader div.buttons button.reset-btn {
  background: #ff4444;
}

.settings-page .data-management div.imports div.excel-reader div.buttons button.save-btn {
  background: #50e538;
}

.settings-page .data-management div.imports div.excel-reader button.clear-btn {
  position: absolute;
  padding: 1px 5px;
  font-size: 14px;
  border-radius: 5px;
  height: 20px;
  width: 110px;
  bottom: 5px;
}

.settings-page .user-settings {
  width: 500px;
  height: 27vh;
  background: white;
  margin: 0px 10px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.settings-page .user-settings h4 {
  margin-bottom: 10px;
}

.settings-page .user-settings input {
  margin: 5px;
}

form.user-login {
  width: 600px;
  height: 270px;
  background-color: #fff;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form.user-login button {
  margin: 0 40px -20px;
}

form.user-login input {
  margin: 10px;
}

form.user-logout {
  height: 100%;
  width: 27%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

div.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

input.search-field {
  width: 42%;
  height: 27px;
  font-size: 14px;
  border-radius: 10px;
  border: 1px solid #c5c5c5;
  padding: 0px 20px;
  margin: 10px auto;
  float: right;
}

input.search-field:focus {
  outline: none;
  border: 2px solid #c5c5c5;
}

div.alert-card {
  position: absolute;
  right: -360px;
  bottom: 150px;
  z-index: 100;
  min-height: 72px;
  min-width: 270px;
  max-height: 100px;
  max-width: 360px;
  cursor: pointer;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px 15px;
  opacity: 0;
  -webkit-transition: opacity 100ms ease, -webkit-transform 250ms ease-in;
  transition: opacity 100ms ease, -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in, opacity 100ms ease;
  transition: transform 250ms ease-in, opacity 100ms ease, -webkit-transform 250ms ease-in;
}

div.alert-card.in {
  opacity: 1;
  -webkit-transform: translateX(-396px);
          transform: translateX(-396px);
  -webkit-transition: opacity 200ms ease-out, -webkit-transform 300ms ease-out;
  transition: opacity 200ms ease-out, -webkit-transform 300ms ease-out;
  transition: transform 300ms ease-out, opacity 200ms ease-out;
  transition: transform 300ms ease-out, opacity 200ms ease-out, -webkit-transform 300ms ease-out;
}

div.alert-card.out {
  opacity: 0;
  -webkit-transform: translateX(400px);
          transform: translateX(400px);
}

div.alert-card.warning {
  background-color: rgba(255, 239, 153, 0.42);
}

div.alert-card.warning svg {
  fill: #eab52f;
}

div.alert-card.warning label {
  color: #eab52f;
}

div.alert-card.error {
  background-color: rgba(255, 153, 153, 0.47);
}

div.alert-card.error svg {
  fill: #f54141;
}

div.alert-card.error label {
  color: #f54141;
}

div.alert-card.success {
  background-color: rgba(155, 255, 153, 0.5);
}

div.alert-card.success svg {
  fill: #41d67f;
}

div.alert-card.success label {
  color: #41d67f;
}

div.alert-card.info {
  background-color: rgba(153, 224, 255, 0.42);
}

div.alert-card.info svg {
  fill: #18a3df;
}

div.alert-card.info label {
  color: #18a3df;
}

div.alert-card svg {
  height: 30px;
  width: 30px;
  padding: 10px;
  margin: 7px;
}

div.alert-card label {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
  padding-top: 15px;
  padding-bottom: 15px;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-left: 19px;
}
/*# sourceMappingURL=stylesheet.css.map */