@import "colors";
@import "lib";

@import "./partials/navbar";
@import "./partials/footer";
@import "./partials/usermenu";
@import "./partials/tabs";

@import "./pages/index";
@import "./pages/users";
@import "./pages/nodes";
@import "./pages/interface";
@import "./pages/f5";

@import "./forms/auth_form";
@import "./forms/add_user";

* {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

div.app {
  display: flex;
}

input.search-field {
  width: 42%;
  height: 27px;
  font-size: 14px;
  border-radius: 10px;
  border: 1px solid $c5Gray;
  padding: 0px 20px;
  margin: 10px auto;
  float: right;
  &:focus {
    outline: none;
    border: 2px solid $c5Gray;
  }
}
