div.main-container{
   // margin: 0px 20px;
    width: 100vw;
    height: 81vh;
    background: linear-gradient(358.92deg, #FFFFFF -5.54%, #E81818 36.28%, #9B1818 90.83%), #E81818;

    display: flex;
    justify-content: center;
    align-items: center;
}