div.alarms-page {
  display: flex;
  align-items: center;

  div.alarms-view {
    position: relative;
    height: 70vh;
    // min-height: 800px;
    overflow-y: auto;
    width: 900px;
    background: $edGray;
    padding: 20px 10px;
    border-radius: 15px;
    h4 {
      position: absolute;
      top: 50%;
      right: 42%;
      color: $dark;
    }
    .alarm-card {
      margin: 10px;
      background-color: $dark;
      // border: 1px solid red;
      color: white;
      border-radius: 7px;
      padding: 2px 6px;
      display: flex;
      height: 42px;

      justify-content: space-between;
      align-items: center;
      h3 {
        min-width: 200px;
        text-align: center;
        letter-spacing: 2px;
        //   margin-left: 12px;
      }
      p {
        text-align: center;
        min-width: 420px;
        font-size: 17px;
        em {
          color: $red;
          font-size: 18px;
          font-weight: 600;
        }
        span {
          font-size: 18px;

          background: white;
          color: $dark;
          padding: 2px 6px;
          border-radius: 9px;
        }
      }
      span {
        font-size: 12px;
        color: $c5Gray;
      }
      .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        //background-color: red;
        width: 0;
        opacity: 0;
        transition: all 420ms cubic-bezier(0.47, 0, 0.745, 0.715);
        &.active {
          opacity: 1;
          width: 40px;
          height: 42px;
        }
      }
    }
  }
}
