div.main-container {
  // margin: 0px 20px;
  width: 100vw;
  height: 81vh;
  background: linear-gradient(
      358.92deg,
      #ffffff -5.54%,
      #e81818 36.28%,
      #9b1818 90.83%
    ),
    #e81818;

  display: flex;
  justify-content: center;
  align-items: center;
}
