div.nodes-page {
  .nodes-view {
    input.search-field {
      margin-left: 19%;
    }

    position: relative;
    height: 70vh;
    // min-height: 800px;
    overflow-y: auto;
    width: 940px;
    background: white;
    padding: 20px 10px;
    border-radius: 15px;

    h4 {
      position: absolute;
      top: 50%;
      right: 42%;
      color: $dark;
    }
    .node-card {
      cursor: pointer;
      position: relative;
      background: $edGray;
      width: 920px;
      height: 66px;
      margin: 5px;
      border-radius: 7px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: lighten(#e81818, 19);
      transition: all 100ms ease-out;
      &:hover {
        background: lighten(#e81818, 27);
        transform: scale(1.01);

        //box-shadow: 0 4px 9px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
      }
      label.node-label {
        //background: pink;
        color: white;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        margin: 3px;
        padding: 3px 7px;

        span,
        input {
          font-size: 14px;
          color: white;
          background: $dark;
          margin: 2px;
          min-width: 120px;
          max-width: 220px;
          height: 16px;
          padding: 3px 7px;
          border-radius: 5px;
          border: none;
          &.reverse {
            color: black;
            background: white;
          }
        }
      }
      .buttons {
        position: absolute;
        display: flex;
        right: 2px;
        top: 0;
        button {
          margin: 0px 2px;
          border-top-right-radius: 0;
          border-top-left-radius: 0;
        }
      }
      + .node-overflow {
        visibility: hidden;
        opacity: 0.2;
        width: 920px;
        height: 20px;
        margin: -10px 5px 5px 5px;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;

        transition: all 240ms ease-in;
        .charts {
          display: flex;
          justify-content: space-around;
          margin: 20px;
          padding: 5px 0px;
          background-color: white;
          opacity: 0;
          transition: all 360ms ease-in;
        }
        &.active {
          visibility: visible;
          height: 300px;

          background-color: $dark;
          opacity: 1;

          .charts {
            opacity: 1;
          }
        }
      }
    }
  }
}
