.settings-page {
  display: flex;
  .data-management {
    width: 660px;
    height: 30vh;
    background: $mainGray;
    > h3 {
      color: darken($dark, 7);
      font-weight: 500;
      font-size: 24px;
    }
    color: $dark;

    margin: 0px 10px 10px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    div.imports {
      display: flex;
      width: 600px;
      //align-items: center;
      justify-content: center;
      // background: red;
      div.excel-reader {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        min-width: 120px;
        min-height: 100px;
        background: whitesmoke;
        padding: 5px;
        border: 2px solid #ccc;
        border-radius: 5px;
        input[type="file"] {
          display: none;
        }
        label {
          margin-top: 20px;
          background: $blue;
          color: white;
          width: 120px;
          text-align: center;
          padding: 1px 2px;
          border-radius: 5px;
          transition: all 120ms ease-in;
          &:hover {
            background: lighten($blue, 12);
            cursor: pointer;
          }
          &:active {
            transform: scale(1.05);
          }
        }
        span.file-name {
          //max-width: 93px;
          margin-top: 18px;
          font-size: 12px;
        }
        div.buttons {
          margin: 7px auto;
          button {
            font-size: 14px;
            height: 20px;
            width: 50px;
            border-radius: 3px;
          }
          button.reset-btn {
            background: $red;
          }
          button.save-btn {
            background: $green;
          }
        }
        button.clear-btn {
          position: absolute;
          // padding: 1px 5px;

          font-size: 14px;
          border-radius: 5px;
          height: 20px;
          width: 120px;
          bottom: 10px;
        }
      }
    }
  }
  .user-settings {
    justify-self: center;
    width: 660px;
    height: 24vh;
    background: white;
    margin: 0px auto;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h4 {
      margin-bottom: 10px;
    }
    input {
      margin: 5px;
    }
  }

  .alarm-settings {
    width: 660px;
    height: 90px;
    background: $dark;
    margin: 5px 10px 0px;
    border-radius: 10px;
    color: white;
    h4 {
      margin: 3px 7px;
      font-weight: 500;
    }
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      background: white;
      color: $dark;
      margin: 0px 20px;
      border-radius: 7px;
      label {
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 50px;
        font-size: 14px;
        input {
          font-size: 16px;
          border-radius: 6px;
          border: none;
          height: 30px;
          width: 90px;
          padding: 1px 3px;
          background-color: $dark;
          color: white;
          text-align: center;
          &:focus {
            outline: none;
          }
        }
        span.percent {
          position: absolute;
          right: 24px;
          color: white;
          font-size: 14px;
        }
      }
    }
  }
}
