div.users-management {
  background: white;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  form.add_user {
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    input {
      &:first-child {
        margin-top: 30px;
      }
      margin: 5px;
    }
  }

  div.users-list {
    background: #f3f2f2;
    // border-radius: 12px;
    width: 300px;
    height: auto;
    max-height: 27vh;
    padding: 7px 10px;
    padding-top: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    h3 {
      position: fixed;
      z-index: 13;
      background: #f3f2f2;
      width: 289px;
      border-top-left-radius: 12px;
      height: 24px;

      // padding: 10px 5px;
    }
    span.users-note {
      margin-top: 27px;
    }
    div.user-card {
      &:first-of-type {
        margin-top: 30px;
        //  background: red;
      }
      background: white;
      position: relative;
      width: 270px;
      min-height: 40px;
      max-height: 70px;
      display: flex;
      flex-direction: column;
      border-radius: 9px;
      margin: 9px;
      padding: 5px;
      // background: pink;
      transition: all 270ms ease-out;
      &:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
          0 6px 6px rgba(0, 0, 0, 0.23);
      }
      .icon-btn {
        position: absolute;
        bottom: 7px;
        right: 5px;
      }
      span.username-output {
        //background: violet;
        width: 220px;
        padding: 3px 7px;
        border-radius: 12px;
        border: 1px solid $mainGray;
        display: flex;
        align-items: center;
        svg {
          border-right: 1px solid $mainGray;
          margin-right: 10px;
          padding-right: 10px;
        }
      }
      span.id-output {
        color: #ccc;
        font-size: 12px;
        margin: 2px auto;
      }
    }
  }
}
