form.user-login {
    width: 600px;
    height: 270px;
    background-color: #fff;

    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    input {
        width: 300px;
        height: 36px;
        border-radius: 12px;
        padding: 3px 20px;
        margin: 10px;
        border: 1px solid #969696;

      //  font-size: 24px;
      &:focus {
          outline: none;
          border-color: darken(#969696,2);

      }

    }
    button {

        cursor: pointer;
        margin: 0 40px -20px;

        width: 150px;
        height: 42px;
        border: none;
        border-radius: 9px;
        font-size: 24px;
        color: white;
        background-color: lighten($vividRed, 5);
        &:hover {
            background-color: $vividRed;

        }
    }
}