form.add_user {
  width: 390px;
  height: 240px;
  padding: 12px;
  border-radius: 12px;
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  input {
    margin: 20px;
  }
  button {
    margin-left: 25px;
  }
}
