<form class="user-login" action="/api/users/login" method="POST">
    <input type="text" placeholder="Username" name="username" autocomplete="off">
    <input type="password" placeholder="Password" name="password" autocomplete="off">
    <button type="submit">Login</button>
</form>